In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Diemthi_thpt_quocgia_2016.csv')

In [3]:
df.shape

(34826, 6)

In [4]:
df.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [9]:
chuoi = df.iloc[0]['DIEM_THI'] # la diem cua thi sinh dau tien
print(chuoi)

Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00

In [10]:
chuoi = chuoi.split(' '*2)
print(chuoi)

['Toán:', ' 2.00', ' Ngữ văn:', ' 5.50', ' Lịch sử:', ' 3.00', ' Địa lí:', ' 5.00']

In [11]:
mon = []
diem = []
for i in range(0,len(chuoi),2):
    mon.append(chuoi[i].strip(':'))
    diem.append(float(chuoi[i+1]))
df_ = pd.DataFrame({'mon':mon,'diem':diem})    
print(df_)

        mon  diem
0      Toán   2.0
1   Ngữ văn   5.5
2   Lịch sử   3.0
3    Địa lí   5.0

In [12]:
def tach_diem(chuoi):
    chuoi = chuoi.split(' '*2)    
    mon = []
    diem = []
    for i in range(0,len(chuoi),2):
        mon.append(chuoi[i].strip(':'))
        diem.append(float(chuoi[i+1]))
    return pd.DataFrame({'mon':mon, 'diem':diem})

In [13]:
chuoi = df.iloc[0]['DIEM_THI']
df_ = tach_diem(chuoi)
df_

        mon  diem
0      Toán   2.0
1   Ngữ văn   5.5
2   Lịch sử   3.0
3    Địa lí   5.0

In [14]:
# thuc hien viec tach diem cho tat ca thi sinh
l_sobaodanh = []
l_mon = []
l_diem = []
for i in range(df.shape[0]):
    df_diem = tach_diem(df.iloc[i]['DIEM_THI'])
    for j in range(df_diem.shape[0]):
        l_sobaodanh.append(df.iloc[i]['SOBAODANH'])
        l_mon.append(df_diem.iloc[j]['mon'])
        l_diem.append(df_diem.iloc[j]['diem'])

In [15]:
df_diem = pd.DataFrame({'sobaodanh':l_sobaodanh, 'mon':l_mon, 'diem':l_diem })
df_diem

        sobaodanh         mon  diem
0        18000001        Toán  2.00
1        18000001     Ngữ văn  5.50
2        18000001     Lịch sử  3.00
3        18000001      Địa lí  5.00
4        18000002        Toán  5.50
...           ...         ...   ...
145869  HUI014543     Ngữ văn  4.25
145870  HUI014543      Vật lí  4.20
145871  HUI014543     Hóa học  4.40
145872  HUI014543    Sinh học  4.40
145873  HUI014543   Tiếng Anh  3.00

[145874 rows x 3 columns]

In [16]:
df_diem[df_diem['sobaodanh']=='18000002']

  sobaodanh         mon  diem
4  18000002        Toán  5.50
5  18000002     Ngữ văn  5.25
6  18000002      Địa lí  5.50
7  18000002   Tiếng Anh  3.68

In [17]:
df_diem[df_diem['sobaodanh']=='HUI014543']

        sobaodanh         mon  diem
145868  HUI014543        Toán  2.50
145869  HUI014543     Ngữ văn  4.25
145870  HUI014543      Vật lí  4.20
145871  HUI014543     Hóa học  4.40
145872  HUI014543    Sinh học  4.40
145873  HUI014543   Tiếng Anh  3.00