In [3]:
import pandas as pd
import numpy as np

In [9]:
with open('heights_1.txt', 'r') as f:
    data_h = f.read()
with open('weights_1.txt', 'r') as f:
    data_w = f.read()
heights = np.array(data_h.split(', '), dtype = int)
weights = np.array(data_w.split(', '), dtype = int)
print('Heigts:',heights)
print('Weights',weights)

Heigts: [74 74 72 ... 75 75 73]
Weights [180 215 210 ... 205 190 195]

In [12]:
data = {'weights': weights,'heights': heights}
pd.DataFrame(data)

      weights  heights
0         180       74
1         215       74
2         210       72
3         210       72
4         188       73
...       ...      ...
1010      190       73
1011      180       74
1012      205       75
1013      190       75
1014      195       73

[1015 rows x 2 columns]

In [15]:
temp = ['1','2']
convert_float = list(map(lambda x : float(x),temp))
convert_float

[1.0, 2.0]