In [1]:
import numpy as np
import pandas as pd

In [7]:
# Câu 1.Tạo DataFrame employees chứa danh sách các nhân viên. Danh sách này được đọc từ tập tin employees.xls
employees = pd.read_excel('employees.xls')
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 11 columns):
EMPLOYEE_ID       107 non-null int64
FIRST_NAME        107 non-null object
LAST_NAME         107 non-null object
EMAIL             107 non-null object
PHONE_NUMBER      107 non-null object
HIRE_DATE         107 non-null object
JOB_ID            107 non-null object
SALARY            107 non-null int64
COMMISSION_PCT    35 non-null float64
MANAGER_ID        106 non-null float64
DEPARTMENT_ID     106 non-null float64
dtypes: float64(3), int64(2), object(6)
memory usage: 9.3+ KB

In [8]:
employees.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17 00:00:00,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21 00:00:00,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13 00:00:00,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03 00:00:00,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21 00:00:00,IT_PROG,6000,NaN,103.0,60.0

In [9]:
departments = pd.read_excel('departments.xls')
jobs = pd.read_excel('jobs.xls')

NameError: name 'read_excel' is not defined