Chapter 4 - exercise 1: Hãy thực hiện những yêu
cầu liên quan tới series như sau:
1. Tạo nd_array_1 có 5 phần tử số nguyên,nd_array_2 có 5 phần tử số nguyên. Chuyển 2 array
này thành 2 series là series1 và series2. Tính cộng, trừ, nhân, chia 2 series này. In các kết quả
2. So sánh xem các phần tử của series1 có >, <. = các phần tử của series2 không?
3. Cho 2 series, tạo series3 chỉ chứa các phần tử có trong series1 mà không có trong series2. in
series3
4. Sử dụng lại 2 series là series1 và series2, tạo series6 chứa các phần tử chỉ có trong series1 và
chỉ có trong series2
5. Tạo 1 series có 35 phần tử ngẫu nhiên có giá trị trong khoảng 1 đến 9. In shape, head và tail
của series này. In series theo dạng array. Thống kê thông tin chung của series. Cho biết tổng
của series. Cho biết phần tử có tần suất xuất hiện nhiều nhất
6. Sử dụng series của câu trên. In ra những dòng trong series mà giá trị chia hết cho 2 và cho 3
7. Từ series của câu 5 phía trên, in ra các giá trị unique (array)
8. Từ series của câu 5 phía trên, in các phần tử ở vị trí 0, 5, 10, 15
9. Từ series của câu 5 phía trên hãy tạo một series mới với mỗi phần tử có giá trị = lập phương
của phần tử trong series. In head của serires mới
10. Cho list sau: lst = ["abc", "defg", "htlmj", "dfg", "ljsac"]. Tạo series từ lst này.Tạo series mới với
mỗi phần tử có giá trị là chiều dài của phần tử trong series trên
11. Cho ser = pd.Series(np.array([1, 2, 4, 5, 8, 7, 6, 9])). In ser. In ra những dòng trong series mà
giá trị là số nguyên tố
12. Cho mẫu email như sau pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'. Tạo một
series mà mỗi phần tử là một chuỗi. In ra những dòng trong series thỏa điều kiện chuỗi là
email

Solve

1. Tạo nd_array_1 có 5 phần tử số nguyên,nd_array_2 có 5 phần tử số nguyên. Chuyển 2 array này thành 2 series là series1 và series2. Tính cộng, trừ, nhân, chia 2 series này. In các kết quả

In [1]:
import pandas as pd
import numpy as np

In [2]:
nd_array_1 = range(0,5)
nd_array_2 = range(3,8)
series1 = pd.Series(nd_array_1)
series2 = pd.Series(nd_array_2)
print('Series1:\n%s'%(str(series1)))
print('Series2:\n%s'%(str(series2)))

Series1:
0    0
1    1
2    2
3    3
4    4
dtype: int64
Series2:
0    3
1    4
2    5
3    6
4    7
dtype: int64

In [3]:
print(series1 + series2)

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [4]:
print(series1 - series2)

0   -3
1   -3
2   -3
3   -3
4   -3
dtype: int64

In [5]:
print(series1/series2)

0    0.000000
1    0.250000
2    0.400000
3    0.500000
4    0.571429
dtype: float64

So sánh xem các phần tử của series1 có >, <. = các phần tử của series2 không?

In [6]:
print(series1 > series2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [7]:
print(series1 < series2)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [8]:
print(series1 == series2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

3.Cho 2 series, tạo series3 chỉ chứa các phần tử có trong series1 mà không có trong series2. in series3

In [9]:
ser3 = series1[~series1.isin(series2)]

In [10]:
ser3

0    0
1    1
2    2
dtype: int64

4. Sử dụng lại 2 series là series1 và series2, tạo series6 chứa các phần tử chỉ có trong series1 và
chỉ có trong series2

In [11]:
ser4 = series2[~(series2.isin(series1))]
ser5 = series1[~(series1.isin(series2))]
print('Ser5',ser5)
print('Ser4',ser4)
ser6 = ser4.append(ser5)
print(ser6)
# print(ser4[ & ~(series2.isin(series1))])

Ser5 0    0
1    1
2    2
dtype: int64
Ser4 2    5
3    6
4    7
dtype: int64
2    5
3    6
4    7
0    0
1    1
2    2
dtype: int64

5. Tạo 1 series có 35 phần tử ngẫu nhiên có giá trị trong khoảng 1 đến 9. In shape, head và tail
của series này. In series theo dạng array. Thống kê thông tin chung của series. Cho biết tổng
của series. Cho biết phần tử có tần suất xuất hiện nhiều nhất

In [12]:
random_number = pd.Series(np.random.randint(1,10, size=35))

In [13]:
print('Shape:',random_number.shape)
print('Head:',random_number.head())
print('Tail:',random_number.tail())
print('Series with array:',random_number.tolist())
print('General Information:',random_number.describe())
print('Frequency',random_number.value_counts())

Shape: (35,)
Head: 0    2
1    6
2    1
3    8
4    7
dtype: int64
Tail: 30    5
31    9
32    6
33    5
34    3
dtype: int64
Series with array: [2, 6, 1, 8, 7, 7, 8, 7, 4, 7, 9, 9, 7, 7, 2, 8, 5, 5, 4, 7, 8, 3, 2, 9, 7, 2, 7, 1, 5, 7, 5, 9, 6, 5, 3]
General Information: count    35.000000
mean      5.685714
std       2.446744
min       1.000000
25%       4.000000
50%       7.000000
75%       7.000000
max       9.000000
dtype: float64
Frequency 7    10
5     5
9     4
8     4
2     4
6     2
4     2
3     2
1     2
dtype: int64

6. Sử dụng series của câu trên. In ra những dòng trong series mà giá trị chia hết cho 2 và cho 3

In [14]:
random_number_6 = random_number[(random_number % 2== 0) & (random_number % 3== 0)]

In [15]:
random_number_6

1     6
32    6
dtype: int64

7. Từ series của câu 5 phía trên, in ra các giá trị unique (array)

In [16]:
random_number_7 = random_number.unique()
random_number_7

array([2, 6, 1, 8, 7, 4, 9, 5, 3])

8. Từ series của câu 5 phía trên, in các phần tử ở vị trí 0, 5, 10, 15

In [17]:
random_number_8 = random_number[[0,5,10,15]]
random_number_8

0     2
5     7
10    9
15    8
dtype: int64

9. Từ series của câu 5 phía trên hãy tạo một series mới với mỗi phần tử có giá trị = lập phương của phần tử trong series. In head của serires mới

In [19]:
ser_9 = random_number**2
ser_9.head()

0     4
1    36
2     1
3    64
4    49
dtype: int64

10. Cho list sau: lst = ["abc", "defg", "htlmj", "dfg", "ljsac"]. Tạo series từ lst này.Tạo series mới với mỗi phần tử có giá trị là chiều dài của phần tử trong series trên

In [21]:
lst = ["abc", "defg", "htlmj", "dfg", "ljsac"]
lst

['abc', 'defg', 'htlmj', 'dfg', 'ljsac']

In [22]:
ser10 = pd.Series(lst)
ser10 = ser10.map(lambda x: len(x))
ser10

0    3
1    4
2    5
3    3
4    5
dtype: int64

11 . Cho ser = pd.Series(np.array([1, 2, 4, 5, 8, 7, 6, 9])). In ser. In ra những dòng trong series mà giá trị là số nguyên tố

In [24]:
ser = pd.Series(np.array([1, 2, 4, 5, 8, 7, 6, 9]))
ser

0    1
1    2
2    4
3    5
4    8
5    7
6    6
7    9
dtype: int64

In [39]:
def isPrime(number) :
    count = 0
    for i in range(1, number + 1):
        if number % i == 0:
            count += 1
    return count == 2

In [40]:
temp = ser[ser.map(isPrime)]
temp

1    2
3    5
5    7
dtype: int64

12. Cho mẫu email như sau pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}'. Tạo một series mà mỗi phần tử là một chuỗi. In ra những dòng trong series thỏa điều kiện chuỗi là email

In [45]:
import re
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,4}'
emails = pd.Series(['reading newspaper from tuoitre.vn', 'tubirona@gmail.com', 'nguyenphucthinh@gmail.com','nphucthinh@tma.com.vn'])
ser_email = emails.map(lambda x: bool(re.match(pattern,x)))
emails[ser_email]

1           tubirona@gmail.com
2    nguyenphucthinh@gmail.com
3        nphucthinh@tma.com.vn
dtype: object

# Câu 13:
'''Cho ser_names = pd.Series(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Pr
'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
'Make'])<br>
In ra những dòng trong series trên thỏa điều kiện trong chuỗi có 'Price'
'''<br>
ser_names = pd.Series(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price',
'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
'Make'])<br>
ser_names

In [48]:
ser_names = pd.Series(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price',
'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
'Make'])

In [51]:
ser_Price = ser_names.map(lambda x: 'Price' in x)
ser_names[ser_Price]

3    Min_Price
4        Price
dtype: object