In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('sinh_vien_cn.csv')

In [3]:
data.head()

,masv,ho,ten,gioitinh,ngaysinh,email,didong,cmnd,hocbong,makh
0,C0001,Khương Thảo,Loan,False,1999-01-04 00:00:00,ktloan@gmail.com,987314518,586900775484,2000000,CN
1,C0002,Đặng Bạch,Ngọc,True,1999-11-11 00:00:00,dbngoc@gmail.com,987587327,274387352269,0,CN
2,C0003,Phạm Văn Minh,Thiện,True,1999-11-23 00:00:00,pvmthien@gmail.com,987858734,835772714136,0,CN
3,C0004,Đinh Thị Thanh,Dung,False,1999-01-19 00:00:00,dttdung@gmail.com,987508413,373064334392,1000000,CN
4,C0005,Trần Mạnh,Thiện,True,1999-08-19 00:00:00,tmthien@gmail.com,987579776,233384596844,1000000,CN

In [4]:
data.shape

(500, 10)